html{
    position: relative;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

nav {
  background-color: #ffffff;
  position: fixed;
  width: 100vw;
  padding: 20px;
}

.spotify-logo {
  width: 200px;
}

.nav-links-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  list-style-type: none;
  gap: 30px;
  float: right;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.landing-img {
  width: 100%;
}

.landing-section {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 450px;
  left: 30%;
  font-size: 40px;
}

.h2-on-spotify {
  text-align: center;
  font-size: 40px;
  background: linear-gradient(to right, #1ab26b, #1ab26b);
  background-size: 325px 3px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 5px;
}

.content-icons {
  width: 150px;
  height: 150;
}

.on-spotify-content {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
}

.h3-onspotify {
  font-size: 30px;
  color: #1ab26b;
}

.green-section {
  background-color: #1ab26b;
  margin: 50px;
}

.green-section-content {
  padding: 50px 125px 50px 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.green-section-content-text {
  color: white;
}

.h2-green-section {
  font-size: 40px;
}

.h3-green-section {
  font-size: 30px;
}

.p-green-section {
  font-size: 20px;
  width: 60%;
}

.spotify-icon-white{
    height: 150px;
    
  }
  

.spotify-app-img {
  height: 500px;
}
